/microservices-new/inventory-service/target/surefire-reports/com.example.inventoryservice.InventoryServiceApplicationTests.txt
/microservices-new/inventory-service/target/surefire-reports/TEST-com.example.inventoryservice.InventoryServiceApplicationTests.xml
